/*p {
   margin-left: 25%;
}*/

header {
    font-size: 40px;
}
/*ul {
    margin-left: 25%;
}*/
/*p1 {
    margin-left: 25%;
<<<<<<< HEAD
}*/
=======
}
header{
    font-size: 40px;
}
>>>>>>> main
div {
    width: 75%;
    height: 100%;
}
#photoMeg {
    position: relative;
    text-align: center; 
    
}
body{
    background-color: lightpink;
}
h1{
    font-family: sans-serif;
    font-style: oblique;
    font-size: 40px;
}
/*.sansserif {
  font-family: Arial, Helvetica, sans-serif;
}*/

#aboutmepic {
    position: relative;
    text-align: center;
}
a:link {
    color: blue;
}
a:visited{
    color: purple;
}
/*side navigation menu adapted from a previous project*/

.sidenav{
    height: 100%;
    width: 20%;
    position: fixed;
    margin: 0;
    padding: 0;
    background-color: hotpink;
    overflow: auto;
    
}

/*the links in the sidebar*/
.sidenav a{
    padding: 8px 16px;
    display: block;
    text-decoration: none;
    font-size: 25px;
    color: antiquewhite;
    
   
}
#everything{
    margin-left: 25%;
    padding: 1px 16px;
    height: 1000px;
   vertical-align: top;
    position: absolute;
    
}
    
/* makes it so when you move the mouse, it changes color */


.sidenav a:active{
    background-color:blue;
    color: white;
}
.sidenav a:hover:not(.active) {
    background-color: plum;
    color: white;
}


/* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 700px) {
  .sidenav {
    width: 100%;
    height: auto;
    position: relative;
  }
   #everything{
    margin-left: 0;
    
    
} 
  .sidenav a {float: left;}
  div.content {margin-left: 0;}
     body {
        overflow-x: hidden !important;
    }
   .container { 
        max-width: 100% !important;
        overflow-x: hidden !important;
    }
}